.eventDetails-wrapper{
    background-color: white;
   margin: auto;
   margin-top: 20px;
   padding: 20px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   margin-bottom: 80px;
   margin-left: 40px;
   margin-right: 40px;
}

.event-details-image{
    width: auto;
    height: 250px;
    width: 100%;
    object-fit: cover;
}


.event-descripton{
    color: grey;
}
.borderTop {
    border-image: url(https://static.meraevents.com/css/res/images/border-ticket.png) 76% 0 0 18% !important;
    border-top: 15px solid black !important;
    margin-bottom: 15px !important;
}
.borderBottom {
    border-bottom: 15px solid black !important;
    border-image: url(https://static.meraevents.com/css/res/images/border-ticket2.png) 0 0 75% 18% !important;
}

.ticket-heading{
    margin-top: 10px;
    font-weight: 600;
}
.tickets{
    list-style: none;
    width: 80%;
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;  
    margin-top: 20px;
}
.ticket-deets{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    text-align: center;
}
.ticket-deets h3{
    padding: 5px;
    color: brown;
}
.ticket-deets h5{
    padding: 20px;
    font-size: large;
    border-right: 2px dashed grey;
    border-left: 2px solid grey;
}

.ticket-deets button{
    all: unset;
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
   
}
.ticket-deets button:hover{
    background-color: #3939393b;
}


@media (max-width: 768px) {
    .tickets{
        width: 100%; 
    }
}
@media (max-width:480px) {
    .ticket-deets{
        flex-direction: column;
    }
}



