.footer {
  position: fixed;
  bottom: 0;

    width: 100%;
    padding: 20px 10px;
    text-align: center;
    background-color: #aa0101;
    color: white;
    font-size: 14px;
    border-top: 1px solid #aa0101; 
    z-index: 100000;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }