.hero{
    width: 100%;
    min-height: 100vh;
    background:url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1000000000;
}
.overlay{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;  
    gap: 50px;
    display: flex;
}
.hero-main{
    text-align: center;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.overlay h1{
    font-size: 40px;
}
.overlay div{
     display: flex;
     gap: 30px;
}

.overlay div button{
    padding: 15px;
    min-width: 100px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.overlay div button:hover{
    background-color: rgb(201, 199, 199);
}
