*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
body{
  background-color: rgb(238,238,238) ;
}
.main-content{
  width: 70%;
  margin: auto;
  margin-left: 150px;
  padding: 20px;
}
.main-content h1{
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .main-content{
    margin-left: 120px;
  }
}
@media (max-width:480px) {
  .main-content{
    margin-left: 80px;
  }
}

.profile-section {
  max-width: 500px;
  margin-bottom: 20px; 
}

.profile-section label{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 12px; 
  gap: 20px;
}

.profile-section label input{
  width: 60%;
  flex-shrink: 0;
  padding: 10px;  
}

.profile-section label button{
  margin-bottom: -5px;
}

.delete{
   position: absolute;
   bottom: 100px;
   right: 50px;
}

.wrapperParent{
  height:91.5vh
}

.loader{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.invisible{
   display: none;
}
