*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  margin-left: 250px; 
  padding: 20px;      
}

.profile-section {
  width: 500px;
  margin-bottom: 20px; 
}

.profile-section label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px; 
  gap: 20px;
}

.profile-section label input{
  padding: 15px;
}

.profile-section label button{
  margin-bottom: -5px;
}

.delete{
   position: absolute;
   bottom: 100px;
   right: 50px;
}